:root {
  --cubeHeightWidth: 8em;
  --negCubeHeightWidth: -8em;
  --translate: 4em;
  --negativeTranslate: -4em;
}

/* general */
* {
  box-sizing: border-box;
}

.bg {
  position: absolute;
  z-index: -1;
  background-size: auto 100%;
  background-position: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.animation {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: auto;
  height: 10em;
  width: 10em;
}

/* helps */
#helpers {
  height: 10em;
}

#boardBackground {
  opacity: 0.4;
  position: absolute;
  top: -5%;
  left: -5%;
  height: 110%;
  width: 110%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }

.helper {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  background-color: #5c6d86;
  margin: 0 1em;
}

.helper i {
  font-size: 2em;
  color: #fff;
}

/* board */
#boardHolder {
  width: 100%;
  height: 375px;
  overflow: scroll;
  margin: 0 auto;
  padding: 1em 0;
}

#board {
  flex-wrap: wrap;
  position: relative;
  zoom: 96%;
  margin: 0 auto;
}

.box {
  user-select: none;
  position: relative;
  border: 1px solid #21183e;
}

.box.smallScreen {
  width: 55px;
  height: 55px;
}

.box.mediumScreen {
  width: 60px;
  height: 60px;
}

.box.hint {
  border-right-color: #d5e4ff;
}


.mediumExplosionImage {
  background-image: url("../img/mediumBomb.png");
}

.largeExplosionImage {
  background-image: url("../img/largeBomb.png");
}

.verticalExplosionImage {
  background-image: url("../img/verticalBomb.png");
}

.horizontalExplosionImage {
  background-image: url("../img/horizontalBomb.png");
}

.veryLargeExplosionImage {
  background-image: url("../img/veryLarge.png");
}

.box .explosionBox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: auto;

  top: -30%;
  left: -30%;
  height: 160%;
  width: 160%;
  z-index: 10;

  pointer-events: none;
}

.box .explosionBox.hideExplosion {
  display: none;
}

.box p {
  font-size: 6em;
  color: #fff;
}

.borderTop {
  border-top-color: #371006;
  border-top-color: #b57800;
  /* border-top-color: #e3a731; */
}

.borderRight {
  border-right-color: #371006;
  border-right-color: #b57800;
  /* border-right-color: #e3a731; */
}

.borderBottom {
  border-bottom-color: #371006;
  border-bottom-color: #b57800;
  /* border-bottom-color: #e3a731; */
}

.borderLeft {
  border-left-color: #371006;
  border-left-color: #b57800;
  /* border-left-color: #e3a731; */
}

.topLineClicked {
  border-top-color: #d5e4ff;
}

.rightLineClicked {
  border-right-color: #d5e4ff;
}

.bottomLineClicked {
  border-bottom-color: #d5e4ff;
}

.leftLineClicked {
  border-left-color: #d5e4ff;
}

.firstPlayerScored {
  background-color: #e38066;
  opacity: 0.8;
}

.secondPlayerScored {
  background-color: #712b18;
  opacity: 0.8;
}

.firstPlayerScored p,
.secondPlayerScored p {
  opacity: 0.74;
}

/* cube style */
.cubeContainer {
  perspective: 800px;
}

.cube {
  width: var(--cubeHeightWidth);
  transform-style: preserve-3d;
  animation: rotate 15s linear infinite;
  transition: transform 0.5s;
  transform: rotateY();
}

.cube > div {
  width: 8em;
  height: 8em;
  position: absolute;
  opacity: 0.8;
  color: #fff;
  border: 0.2em solid #222;
}

.front {
  transform: translateZ(4em);
  background-color: #888;
}

.back {
  background-color: #888;
  transform: rotateY(180deg) translateZ(4em);
}

.left {
  background-color: #888;
  transform: rotateY(-90deg) translateX(-4em);
  transform-origin: left;
}

.right {
  background-color: #888;
  transform: rotateY(90deg) translateX(4em);
  transform-origin: right;
}

.top {
  background-color: #888;
  transform: rotateX(-90deg) translateY(-4em);
  transform-origin: top;
}

.bottom {
  background-color: #888;
  transform: rotateX(90deg) translateY(4em);
  transform-origin: bottom;
}

.timer {
  position: absolute;
}

#time {
  margin-left: 4em;
}

.isTopSideRow {
  border-top-width: 2px;
}

.isRightSideRow {
  border-right-width: 2px;
}

.isBottomSideRow {
  border-bottom-width: 2px;
}

.isLeftSideRow {
  border-left-width: 2px;
}

.isTopRightCornerBox {
  border-top-width: 2px;
  border-right-width: 2px;
}

.isTopLeftCornerBox {
  border-top-width: 2px;
  border-left-width: 2px;
}

.isBottomRightCornerBox {
  border-bottom-width: 2px;
  border-right-width: 2px;
}

.isBottomLeftCornerBox {
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.isNoBorderBox {
  width: 8em;
  user-select: none;
  position: relative;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.isNoBorderBox::before {
  content: "";
  height: 2em;
  width: 2em;
  position: absolute;
  top: -1.2em;
  left: -1em;
  background-color: #222;
  border-radius: 50%;
}

.isNoBorderBox::after {
  content: "";
  height: 2em;
  width: 2em;
  position: absolute;
  top: -1.2em;
  right: -1em;
  background-color: #222;
  border-radius: 50%;
}

.bombToolsBar {
  height: 6em;
  padding: 0 1em;
  justify-content: flex-start;
}

.tool {
  width: 4em;
  height: 4em;
  transition: all 0.25s;
}

.tool img {
  height: 2.4em;
  transform: scale(1);
  transition: transform 0.5s;
}

.tool p {
  margin: 0;
  font-size: 2em;
  color: #b57800;
}

.tool.selected {
  background-color: #1a103a;
  border-radius: 50%;
}

.tool.selected img {
  transform: scale(2);
}

.removePage {
  display: none;
  opacity: 0;
  z-index: -100;
}

.interactiveText {
  position: absolute;
  top: 8em;
  width: 100%;
  font-weight: bold;
  pointer-events: none;
}

.interactiveText p {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  color: #b57800;
  position: relative;
  top: -2em;
  opacity: 0;
  transition: all 0.5s;
 }

.interactiveText p.showText {
  top: 0em;
  opacity: 0.6;
}

.helpText {
  position: absolute;
  top: 6em;
  width: 100vw;
  pointer-events: none;
}

.helpTextP {
  font-size: 1.6em;
  color: #b57800;
  margin: 0;
  opacity: 0;
  position: relative;
  top: -1em;
  transition: all 0.5s;
}

.helpTextP.showHelpText {
  opacity: 1;
  top: 0;
}

.topRightDot,
.topLeftDot,
.bottomRightDot,
.bottomLeftDot {
  height: 100%;
  width: 100%;
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  border-radius: 25%;
  background-color: #251c44;
}

.topRightDot {
  top: -0.25em;
  right: -0.25em;
}

.topLeftDot {
  top: -0.25em;
  left: -0.25em;
}

.bottomRightDot {
  bottom: -0.25em;
  right: -0.25em;
}

.bottomLeftDot {
  bottom: -0.25em;
  left: -0.25em;
}
