:root {
  --cubeHeightWidth: 8em;
  --negCubeHeightWidth: -8em;
  --translate: 4em;
  --negativeTranslate: -4em;
  --blue: rgb(27, 1, 37);
  --edgeBox: rgb(35, 1, 48);
  --borderStyle: dashed;
}

/* general */
* {
  box-sizing: border-box;
}

.bg {
  position: absolute;
  z-index: -1;
  background-size: auto 100%;
  background-position: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.animation {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: auto;
  height: 10em;
  width: 10em;
}

/* helps */
#helpers {
  height: 10em;
}

#boardBackground {
  opacity: 0.4;
  position: absolute;
  top: -5%;
  left: -5%;
  height: 110%;
  width: 110%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }

.helper {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  background-color: #5c6d86;
  margin: 0 1em;
}

.helper i {
  font-size: 2em;
  color: #fff;
}

/* board */
#boardHolder {
  width: 100%;
  height: 375px;
  overflow: scroll;
  margin: 0 auto;
  padding: 1em 0;
}

#board {
  flex-wrap: wrap;
  position: relative;
  zoom: 96%;
  margin: 0 auto;
}

.box {
  user-select: none;
  position: relative;
  border: 1px solid #21183e;
  border: 1px solid rgb(73, 17, 94);
}

.box.smallScreen {
  width: 55px;
  height: 55px;
}

.box.mediumScreen {
  width: 60px;
  height: 60px;
}

.box.hint {
  border-right-color: #d5e4ff;
}

.box .explosionBox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: auto;

  top: -30%;
  left: -30%;
  height: 160%;
  width: 160%;
  z-index: 10;

  pointer-events: none;
}

.box .explosionBox.hideExplosion {
  display: none;
}

.box p {
  font-size: 6em;
  color: #fff;
}


.isTopSideRow {
  border-top-width: 2px;
  border-top-color: var(--edgeBox);
  border-top-style: var(--borderStyle);
}

.isRightSideRow {
  border-right-width: 2px;
  border-right-color: var(--edgeBox);
  border-right-style: var(--borderStyle);
}

.isBottomSideRow {
  border-bottom-width: 2px;
  border-bottom-color: var(--edgeBox);
  border-bottom-style: var(--borderStyle);
}

.isLeftSideRow {
  border-left-width: 2px;
  border-left-color: var(--edgeBox);
  border-left-style: var(--borderStyle);
}

.isTopRightCornerBox {
  border-top-width: 2px;
  border-right-width: 2px;
  border-top-color: var(--edgeBox);
  border-right-color: var(--edgeBox);
  border-top-style: var(--borderStyle);
  border-right-style: var(--borderStyle);
}

.isTopLeftCornerBox {
  border-top-width: 2px;
  border-left-width: 2px;
  border-top-color: var(--edgeBox);
  border-left-color: var(--edgeBox);
  border-top-style: var(--borderStyle);
  border-left-style: var(--borderStyle);
}

.isBottomRightCornerBox {
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-bottom-color: var(--edgeBox);
  border-right-color: var(--edgeBox);
  border-bottom-style: var(--borderStyle);
  border-right-style: var(--borderStyle);
}

.isBottomLeftCornerBox {
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-bottom-color: var(--edgeBox);
  border-left-color: var(--edgeBox);
  border-bottom-style: var(--borderStyle);
  border-left-style: var(--borderStyle);
}

.isNoBorderBox {
  width: 8em;
  user-select: none;
  position: relative;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.isNoBorderBox::before {
  content: "";
  height: 2em;
  width: 2em;
  position: absolute;
  top: -1.2em;
  left: -1em;
  background-color: #222;
  border-radius: 50%;
}

.isNoBorderBox::after {
  content: "";
  height: 2em;
  width: 2em;
  position: absolute;
  top: -1.2em;
  right: -1em;
  background-color: #222;
  border-radius: 50%;
}

.borderTop {
  border-top-color: #b57800;
  border-top-style: solid;
}

.borderRight {
  border-right-color: #b57800;
  border-right-style: solid;
}

.borderBottom {
  border-bottom-color: #b57800;
  border-bottom-style: solid;
}

.borderLeft {
  border-left-color: #b57800;
  border-left-style: solid;
}

.borderTopComputer {
  border-top-color: #980000;
  border-top-style: solid;
}

.borderRightComputer {
  border-right-color: #980000;
  border-right-style: solid;
}

.borderBottomComputer {
  border-bottom-color: #980000;
  border-bottom-style: solid;
}

.borderLeftComputer {
  border-left-color: #980000;
  border-left-style: solid;
}

.topLineClicked {
  border-top-color: #d5e4ff;
}

.rightLineClicked {
  border-right-color: #d5e4ff;
}

.bottomLineClicked {
  border-bottom-color: #d5e4ff;
}

.leftLineClicked {
  border-left-color: #d5e4ff;
}

.firstPlayerScored {
  background-color: #e38066;
  opacity: 0.8;
}

.secondPlayerScored {
  background-color: #712b18;
  opacity: 0.8;
}

.firstPlayerScored p,
.secondPlayerScored p {
  opacity: 0.74;
}

/* cube style */
.cubeContainer {
  perspective: 800px;
}

.cube {
  width: var(--cubeHeightWidth);
  transform-style: preserve-3d;
  animation: rotate 15s linear infinite;
  transition: transform 0.5s;
  transform: rotateY();
}

.cube > div {
  width: 8em;
  height: 8em;
  position: absolute;
  opacity: 0.8;
  color: #fff;
  border: 0.2em solid #222;
}

.front {
  transform: translateZ(4em);
  background-color: #888;
}

.back {
  background-color: #888;
  transform: rotateY(180deg) translateZ(4em);
}

.left {
  background-color: #888;
  transform: rotateY(-90deg) translateX(-4em);
  transform-origin: left;
}

.right {
  background-color: #888;
  transform: rotateY(90deg) translateX(4em);
  transform-origin: right;
}

.top {
  background-color: #888;
  transform: rotateX(-90deg) translateY(-4em);
  transform-origin: top;
}

.bottom {
  background-color: #888;
  transform: rotateX(90deg) translateY(4em);
  transform-origin: bottom;
}

.timer {
  position: absolute;
}

#time {
  margin-left: 4em;
}

.bombToolsBar {
  height: 4em;
  padding: 0 1em;
  justify-content: flex-start;
}

.tool {
  width: 4em;
  height: 4em;
  transition: all 0.25s;
}

.tool img {
  height: 2.4em;
  transform: scale(1);
  transition: transform 0.5s;
}

.tool p {
  margin: 0;
  font-size: 2em;
  color: #b57800;
}

.tool.selected {
  border-radius: 50%;
}

.tool.selected img {
  transform: scale(1.4);
}

.removePage {
  display: none;
  opacity: 0;
  z-index: -100;
}

.interactiveText {
  position: absolute;
  top: 8em;
  width: 100%;
  font-weight: bold;
  pointer-events: none;
}

.interactiveText p {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  color: #b57800;
  position: relative;
  top: -2em;
  opacity: 0;
  transition: all 0.5s;
  text-shadow:
       3px 3px 0 var(--blue),
     -1px -1px 0 var(--blue),
      1px -1px 0 var(--blue),
      -1px 1px 0 var(--blue),
       1px 1px 0 var(--blue);
 }

.interactiveText p.showText {
  top: 0em;
  opacity: 1;
}

.helpText {
  position: absolute;
  top: 9em;
  width: 100vw;
  pointer-events: none;
  z-index: 2;
  transition: all 0.5s;
  text-shadow:
       3px 3px 0 var(--blue),
     -1px -1px 0 var(--blue),
      1px -1px 0 var(--blue),
      -1px 1px 0 var(--blue),
       1px 1px 0 var(--blue);
}

.helpTextP {
  font-size: 1.6em;
  color: #b57800;
  margin: 0;
  opacity: 0;
  position: relative;
  top: -1em;
  transition: all 0.5s;
  width: 80%;
  background-color: transparent;
  font-weight: 800;
  font-style: italic;
}

.helpTextP.showHelpText {
  opacity: 1;
  top: 0;
}

.topRightDot,
.topLeftDot,
.bottomRightDot,
.bottomLeftDot {
  height: 100%;
  width: 100%;
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  border-radius: 25%;
  background-color: #251c44;
  background-color: rgb(45, 0, 63);
  background-color: rgb(148, 5, 206);
  background-color: rgb(39, 0, 56);
  transition: background-color 5s;
}

.topRightDot.lighterDot,
.topLeftDot.lighterDot,
.bottomRightDot.lighterDot,
.bottomLeftDot.lighterDot {
  background-color: rgb(149, 96, 15);
}

.topRightDot {
  top: -0.25em;
  right: -0.25em;
}

.topLeftDot {
  top: -0.25em;
  left: -0.25em;
}

.bottomRightDot {
  bottom: -0.25em;
  right: -0.25em;
}

.bottomLeftDot {
  bottom: -0.25em;
  left: -0.25em;
}

.cantClickTop {
  border-top-color: #ac4830;
}

.cantClickRight {
  border-right-color: #ac4830;
}

.cantClickBottom {
  border-bottom-color: #ac4830;
}

.cantClickLeft {
  border-left-color: #ac4830;
}

.tool.selected img,
.isCheetahExplosion,
.isLionExplosion,
.isPantherExplosion {
  /* border-radius: 10%; */
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 4s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(181, 120, 0, 1);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(181, 120, 0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(181, 120, 0, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(181, 120, 0, 1);
    box-shadow: 0 0 0 0 rgba(181, 120, 0, 1);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(181, 120, 0, 0);
      box-shadow: 0 0 0 20px rgba(181, 120, 0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(181, 120, 0, 0);
      box-shadow: 0 0 0 0 rgba(181, 120, 0, 0);
  }
}

.locked {
  border-radius: 10%;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: badPulse 4s infinite;
}

@-webkit-keyframes badPulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes badPulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.clickTopLine {
  border-top-color: rgb(73, 17, 94);
  transition: all 0.5s;
  animation: clickTopLine 1s infinite;
}
@keyframes clickTopLine {
  0% {
    border-top-color: rgb(73, 17, 94);
  }
  50% {
    border-top-color: #b57800;
  }
}

.clickRightLine {
  border-right-color: rgb(73, 17, 94);
  transition: all 0.5s;
  animation: clickRightLine 1s infinite;
}
@keyframes clickRightLine {
  0% {
    border-right-color: rgb(73, 17, 94);
  }
  50% {
    border-right-color: #b57800;
  }
}

.clickBottomLine {
  border-bottom-color: rgb(73, 17, 94);
  transition: all 0.5s;
  animation: clickBottomLine 1s infinite;
}
@keyframes clickBottomLine {
  0% {
    border-bottom-color: rgb(73, 17, 94);
  }
  50% {
    border-bottom-color: #b57800;
  }
}

.clickLeftLine {
  border-left-color: rgb(73, 17, 94);
  transition: all 0.5s;
  animation: clickLeftLine 1s infinite;
}
@keyframes clickLeftLine {
  0% {
    border-left-color: rgb(73, 17, 94);
  }
  50% {
    border-left-color: #b57800;
  }
}

.clickBox {
  background-color: transparent;
  transition: all 0.5s;
  animation: clickBox 1s infinite;
  position: relative;
}
@keyframes clickBox {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgb(170, 125, 186);
  }
}

.helpPointer {
  color: #b57800;
  opacity: 0;
  position: absolute;
}

.clickTopLine .helpPointer {
  height: 3em;
  opacity: 1;
  top: -58px;
  z-index: 200;
  animation: upAndDown 1s infinite;
}

.clickRightLine .helpPointer {
  height: 3em;
  opacity: 1;
  top: 3px;
  transform: rotateZ(90deg);
  left: 70px;
  z-index: 200;
  animation: leftToRight 1s infinite;
}

.clickBox .helpPointer {
  height: 3em;
  opacity: 1;
  top: 3px;
  transform: rotateZ(90deg);
  left: 45px;
  z-index: 200;
  animation: clickBoxleftToRight 1s infinite;
}

@keyframes upAndDown {
  0% {
    top: -58px;
  }
  50% {
    top: -71px;
  }
}

@keyframes leftToRight {
  0% {
    left: 70px;
  }
  50% {
    left: 85px;
  }
}

@keyframes clickBoxleftToRight {
  0% {
    left: 45px;
  }
  50% {
    left: 60px;
  }
}
