.completionScreen {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: opacity 1s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.ribbonHolder {
  position: relative;
  top: -8em;
  transition: top 1s;
}

.ribbonHolder.down {
  top: -2em;
}

.completeStars {
  height: 6em;
  position: relative;
  top: -6em;
}

.completeStars img {
  height: 6em;
}

.completeStar1,
.completeStar2,
.completeStar3 {
  position: relative;
  opacity: 1;
}

.completeStar1.hide,
.completeStar2.hide,
.completeStar3.hide {
  /* opacity: 0; */
}

.completeStar2 {
  top: -2em;
}

.completeStar1 {
  left: 2em;
}

.completeStar3 {
  left: -2em;
}

.ribbon {
  width: 100%;
}

.ribbon img {
  width: 100%;
}

.characterOnFinish {
  height: 16em;
  position: relative;
  top: 8em;
  z-index: -1;
}

.finishPageBtns {
  position: relative;
  top: -8em;
}

.finishBtn {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  background-color: #FCD32E;
  margin: 0 0.2em;
}

.finishBtn i {
  color: #000;
  font-size: 2em;
  opacity: 0.8;
}

.finishBtn1,
.finishBtn3 {
  position: relative;
}

.finishBtn1,
.finishBtn3 {
  top: 4em;
}
