/* animal explosions */
.isLionExplosion {
  background-image: url("../img/color_animals/asset_lion.png");
}

.isCheetahExplosion {
  background-image: url("../img/color_animals/asset_cheetah.png");
}

.isPantherExplosion {
  background-image: url("../img/color_animals/asset_panther.png");
}

.isQueenMakedaExplosion {
  background-image: url("../img/queens/asset_queen_makeda.png");
}

.isLionExplosion,
.isCheetahExplosion,
.isPantherExplosion,
.isQueenMakedaExplosion {
  background-size: 68%;
  background-position: center;
  background-repeat: no-repeat;
}

.isQueenMakedaExplosion {
  background-size: 100%;
}
