.gameCompleteBox {
  position: absolute;
  z-index: 10;
  top: 0;
  opacity: 1;
  transition: all 0.5s;
  pointer-events: none;
  z-index: 201;
  height: 22vh;
}

.gameCompleteBox.hideGameComplete {
  top: -2em;
  opacity: 0;
}

.gameComplete {
  position: relative;
  width: 100vw;
  background-color: rgb(27, 1, 37);
  padding: 0.5em;
  padding-bottom: 0;
  justify-content: flex-start;
  transform-style: preserve-3d;
  perspective: 250px;
  height: 100%;
}

.goldCount {
  color: #b57800;
  font-size: 2em;
  margin: 0;
}

.goldDesciption {
  font-size: 1em;
  margin-right: 1em;
}

.yourScore,
.computerScore {
  color: #544D6B
}

.countAnimationPic {
  height: 8em;
}

.completeStars {
  height: 3em;
}

.completeStars img {
  height: 3em;
}

.completeStar1,
.completeStar2,
.completeStar3 {
  opacity: 1;
  transition: opacity 0.5s;
}

.completeStar1.hide,
.completeStar2.hide,
.completeStar3.hide {
  opacity: 0;
}

.completeStar2 {
  top: 2em;
}

.completeStar1 {
  left: 2em;
}

.completeStar3 {
  left: -2em;
}

.rewardScreen {
  position: absolute;
  bottom: -78vh;
  transform-origin: top;
  transition: transform 0.5s;
  transform: rotateX(-80deg);
  opacity: 0;
}

.rewardScreen.showPrice {
  transform: rotateX(0deg);
}

.goldScreen {
  height: 78vh;
  width: 100vw;
  padding: 1em;
  background: radial-gradient(ellipse farthest-corner at right bottom, #c3a51a 0%, #d5a33e 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #f1e19a 0%, #d4be86 8%, #a28a47 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.goldScreen.smallPrize {
  background: rgb(72,46,158);
  background: radial-gradient(circle, rgba(72,46,158,1) 0%, rgba(19,11,45,1) 100%);
  background: radial-gradient(circle, rgb(108, 6, 148) 0%, rgb(27, 1, 37) 100%);
}

.goldScreen.smallPrize img {
  display: none;
}

.prize {
  position: absolute;
  top: 40%;
  margin: 0 auto;
  background-image: url(../img/rewards/asset_goldbrick.png);
  height: 8em;
  width: 8em;
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: 0;
}

p.prizeText {
  opacity: 0;
}

.goldScreen.smallPrize .prize,
.goldScreen.smallPrize .prizeText {
  opacity: 1;
}

.goldScreen p {
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 2em;
}

.goldScreen img {
  padding: 0.1em;
  width: 80%;
  height: auto;
}

svg.redoBtn,
svg.nextBtn {
  position: absolute;
  height: 3em;
  bottom: 1em;
  color: #b57800;
  opacity: 0;
  transition: opacity 1s;
  z-index: 201;
}

svg.redoBtn {
  left: 1em;
}

svg.nextBtn {
  right: 1em;
}

svg.redoBtn.showBtn,
svg.nextBtn.showBtn {
  opacity: 1;
}

.bombReward {
  color: rgb(109, 2, 2);
  font-size: 1.4em;
  margin: 0;
}

.cheetah_reward {
  width: 80%;
}

.panther_reward {
  height: 80%;
}

.lion_reward {
  height: 40%;
}
