.homePage,
.settingsPage {
  height: 100%;
}

.titleSection .title {
  /* position: relative;
  top: 14px; */
}

.titleSection {
  height: 40%;
}

.title {
  font-weight: bold;
  color: #544D6B;
  font-size: 31vw;
}

.title.transitionColor {
  transition: color 5s;
}

.title.colorChange {
  color: #130b2d;
}

.title img {
  height: 1em;
  transform: scale(1);
  transition: transform 0.14s;
  z-index: 200;
}

.title img.big {
  transform: scale(1.4);
}

.titleSubText {
  color: #1a103a;
  font-size: 2em;
  margin: 0;
  position: relative;
  left: -2em;
  font-weight: bold;
  z-index: -1;
  margin-left: 1em;
}

.settings {
  /* background-color: #1a103a;
  background-color: #130b2d; */
  width: 100%;
  height: 60%;
  z-index: 2;
}

.setting {
  color: #b57800;
  font-size: 2.8em;
  margin: 0.2em;
  /* align-self: flex-end; */
  width: 100%;
}

.homeBtnText {
  color: #b57800;
  color: #544D6B;
  font-size: 1em;
  margin: 0.2em;
  align-self: flex-end;
  font-weight: bold;
}

.playBtn {
  font-size: 27vw;
  color: #b57800;
  font-weight: 100;
}

.settingsBtn {
  font-size: 11vw;
}

.goalsBtn {
  font-size: 7vw;
}

.settingsPageSettings {
  color: #b57800;
  font-size: 1.4em;
  margin: 1em;
  align-self: flex-start;
}

.settingsOptionField {
  justify-content: space-between;
  width: 100%;
}

.onOff {
  width: 50%;
}

.difficultyText {
  width: 100%;
}

.sOptions,
.mOptions {
  margin: 0;
  color: #fff;
  opacity: 0.2;
  font-size: 2.4em;
  font-weight: bold;
  top: 0;
  transition: top 0.5s;
  position: relative;
}

.sOptions.selectedSetting,
.mOptions.selectedSetting {
  color: #b57800;
  opacity: 1;
  top: -0.12em;
}

.tipText {
  font-size: 1.8em;
}

.bottomColor {
  background-color: #130b2d;
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0;
}

.africa {
  position: absolute;
  top: 4%;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: 130% auto;
  background-position: 0 40px;
  background-repeat: no-repeat;
  background-image: url(../img/africa.png);
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 5s;
}

.africa.lighter {
  opacity: 0;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
  background: #130b2d radial-gradient(circle, transparent 1%, #130b2d 1%) center/25000%;
}
.ripple.active {
  background-color: #FFD700;
  background-size: 100%;
  transition: background 0s;
}
