.homePage,
.settingsPage {
  height: 100%;
}

.titleSection {
  height: 40%;
}

.title {
  color: #1a103a;
  font-weight: bold;
  color: #544D6B;
}

.title img {
  height: 1em;
}

.titleSubText {
  color: #1a103a;
  font-size: 2em;
  margin: 0;
  position: relative;
  left: -2em;
  font-weight: bold;
}

.settings {
  background-color: #1a103a;
  margin-top: 1em;
  width: 100%;
  height: 60%;
}

.setting {
  color: #ffa790;
  font-size: 1.4em;
  margin: 1em;
  align-self: flex-end;
}

.settingsPageSettings {
  color: #ffa790;
  font-size: 1.4em;
  margin: 1em;
  align-self: flex-start;
}

.settingsOptionField {
  justify-content: space-between;
  width: 100%;
}

.onOff {
  width: 50%;
}

.sOptions,
.mOptions {
  margin: 0;
  margin-right: 0.5em;
  color: #fff;
  opacity: 0.3;
  font-size: 1.4em;
}

.sOptions.selectedSetting,
.mOptions.selectedSetting {
  color: #ffa790;
  opacity: 1;
}
