.levelsPage {
  width: 80%;
  margin: 0 auto;
  overflow-y: scroll;
  height: 100%;
}

.levelsPage::-webkit-scrollbar {
  display: none;
}

.levelsHolder {
  flex-wrap: wrap;
  padding-bottom: 4em;
}

.level {
  height: 6em;
  width: 6em;
  background-color: #130b2d;
  border-radius: 0.2em;
  margin: 1em;
}

.level p {
  font-size: 2.8em;
  margin: 0;
  color: #b57800; // #e89a01; //#ffa790;
}

.stars img {
  height: 1.4em;
}

.boardLock {
  color: #fff;
  opacity: 0.3;
  font-size: 3em;
}

.backBtn {
  position: absolute;
  font-size: 2em;
  background-color: #130b2d;
  bottom: 0;
  right: 0;
  height: 1.8em;
  width: 100%;
  border-top: 1px solid #1a1138;
  z-index: 200;
  opacity: 0.94; 
}

.backBtn i {
  color: #fff;
  opacity: 0.3;
  font-size: 1.4em;
}
