:root {

}

/* general */

/* container */
#container {
  height: 100vh;
  width: 100vw;
  background-color: #222;
}

/* gameScreen */
#gameScreen {
  height: 667px;
  width: 375px;
  font-family: 'Hanalei Fill', cursive;
  font-family: 'Raleway', sans-serif;
  /* background-color: #aa5039; */
}

p {
  font-size: 6em;
  text-align: center;
  margin-bottom: 0;
}

#playBtn {
  text-align: center;
  font-size: 4em;
  border: 0.4rem solid;
  border-radius: 1em;
  width: 3em;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.topBar {
  justify-content: space-between;
}

.scoreHolder {
  width: 50%;
  padding: 0.4em;
}

.bombCount {
  width: 100%;
}

.playerScoreHeading {
  font-size: 1em;
  margin: 1em;
  color: #6e658d;
  margin-bottom: 0;
}

.playerOneScore,
.playerTwoScore {
  font-size: 2em;
  color: #ffa790;
  margin: 0;
}
