:root {

}

/* general */

/* container */
#container {
  height: 100vh;
  width: 100vw;
  background-color: #130b2d;
}

/* gameScreen */
#gameScreen {
  height: 100vh;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 5em;
  text-align: center;
  margin-bottom: 0;
}

.topBar {
  justify-content: space-between;
}

.scoreHolder {
  width: 50%;
  padding: 0.4em;
}

.bombCount {
  width: 100%;
}

.playerScoreHeading {
  font-size: 1em;
  margin: 1em;
  color: #6e658d;
  margin-bottom: 0;
}

.playerOneScore,
.playerTwoScore {
  font-size: 2em;
  color: #b57800;
  margin: 0;
}

.playerTwoScore {
  color: #130b2d;
}

.turnPlayer {
  background-color: #130b2d;
  height: 0.5em;
  top: 3.6em;
  width: 0.5em;
  position: absolute;
  transition: all 0.5s;
  border-radius: 50%;
}

.turnPlayer.firstPlayerTurn {
  left: 32vw;
  background-color: #b57800;
}

.turnPlayer.secondPlayerTurn {
  left: 66vw;
}

.titleImg {
  transform: scale(1.2);
}

#ads {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #120b2d;
  z-index: -1;
  height: 6em;
}

#ads p {
  font-size: 1.2em;
  color: #fff;
  opacity: 0.3;
}
