.locked {
  background-image: url(../img/obstacles/asset_statue_foot.png);
  background-size: 92%;
}

.firstPlayerScored {
  background-color: #1a103a;
}

.secondPlayerScored {
  background-color: #4e4179;
}

.disabled {
  border: none;
}
