.spriteSheet {
  position: absolute;
  left: 0;
  height: 100px;
  width: 100px;
  overflow: hidden;
  left: -20px;
  pointer-events: none;
  z-index: 10;
  background: url(../img/sprites/bomb_svg.svg) left center;
}

@keyframes exploding {
  100% { background-position: -1000px; }
}

.explosionGif {
  animation: exploding 0.8s steps(10);
}

.smokeGif {
  background: url(../img/sprites/smoke_svg.svg) left center;
  animation: exploding 0.8s steps(10);
}
